body {
	font-family: cursive;
}

noscript {
	background-color: blue;
	color: white;
}

.menuColor {
	background-color: #F6B57A;
}

.homeColor {
	background-color: #8697C5;
	margin: 15px 0 15px;
}

.contactColor {
	background-color: #F6B57A;
}

.topContainer {
	margin-top: 10px;
}



header h1 {
	color: red;
	text-align: center;
	font-family: 'Droid Serif', serif;
}

th {
	font-size: 1.5em;
}

form {
	max-width: 600px;
}



.descript{
	max-width: 400px;

}

footer {
	display: block;
	text-align: center;
}

.center {
	text-align: center;
}


.content {
	background-color: #FFCC66;
}

.bold {
	font-weight: bold;
}

a:link{
	text-decoration: underline;

}

a:visited {
		color: green;
}
a:hover {
	font-weight: bold;

}
a:active {
	text-decoration: none;

}

#drink {
	text-decoration: underline;
}

.drinks td {
	padding: 5px 20px 5px 20px;
}

