body {
	background-color: #A96811;
}

.image {
	background-image: url("https://upload.wikimedia.org/wikipedia/en/1/1a/U2r%26h.jpg");
	background-repeat: no-repeat;
	height: 400px;
	background-position: center;

}

h1, h2 { 
	font-family: 'Lato', sans-serif;
}

li {
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

a:link {
	text-decoration: none;
}

a:visited {

}

a:hover {
	text-decoration: underline;
	background-color: green;

}

a:active {

}

tr td {
	font-style: italic;
}

/*table {
	background-color: #0099CC;
}*/
