h1 {
	text-align: center;
	font-size: 48px;
	font-family: arial;
}

tr:first-child {background-color: #a8a6a6;}

table {
	border: 1px solid white;
	padding: 20px;
	background-color: #e2e0e0;

}

td {
	border: 1px solid white;
	padding: 20px;
}

th {
	border: none;
	text-decoration: underline;
	font-size: 2em;
	font-family: arial;
	padding-bottom: 10px;
	background-color: #e2e0e0;
}

#betStyle {
	text-align: center;
}

span {
	font-size: 18px;
	font-family: cursive;
}

input {
	width: 100px;
	border: 1px solid black;
	font-size: 18px;
	margin-left: 20px;
	padding: 10px;
}


table {
	width: 33%;
	margin: 0 auto;
	font-family: cursive;

}

button {
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-family: cursive;
	border: 2px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}
